<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrowing System</title>

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">

    <!-- Bootstrap and DataTables JavaScript -->
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

    <!-- Top Panel / Navigation Bar -->
    <div class="navbar">
        <img class="logo" src="{% static 'images/essu_logo_no_text.png' %}">
        <h2 class="heading">ESSU Borrower</h2>
        <div class="nav-links">
            <a href="{% url 'home' %}" class="nav-home nav-hover">Home</a>
            <a href="{% url 'data_table' %}" class="nav-pending nav-hover">Items Overview</a>
            <a href="{% url 'inventory' %}" class="nav-return nav-hover">Inventory</a>
            <a href="{% url 'logout' %}" class="nav-logout nav-hover">Logout</a>
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <!-- Include Bootstrap and DataTables JavaScript -->
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

</body>
</html>
