{% extends 'base.html' %}


{% block content %}
    <div class="container mt-4">
        {% load static %}

        

        <h2>Welcome to Borrowing System</h2>
        <div class="form-container">
            <!-- Add Item Button -->
            <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addBorrowModal">
                Borrow an Item
            </button>

            <!-- Modal for Adding Items -->
            <div class="modal fade" id="addBorrowModal" tabindex="-1" aria-labelledby="addBorrowModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addBorrowModalLabel">Borrow Item</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="{% url 'home' %}" class="form-borrower">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-primary">Add Item</button>
                            </form>
                            <form method="GET" action="{% url 'scan_paper' %}">
                                <button type="submit">Scan Paper</button>
                            </form>
                
                            <form method="GET" action="{% url 'borrower_form_view' %}">
                                <button type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <script>
            <form method="GET" action="{% url 'borrower_form_view' %}">
                                <button type="submit" class="submit-btn">Submit</button>
    
                            </form>
            $(document).ready(function() {
                // jQuery UI Autocomplete for item_name field
                $("#id_item_name").autocomplete({
                    source: function(request, response) {
                        $.ajax({
                            url: "{% url 'get_item_names' %}",
                            dataType: "json",
                            success: function(data) {
                                response(data);
                            }
                        });
                    },
                    minLength: 1  // Start suggesting after typing 2 characters
                });
            });
        </script>
    </div>
{% endblock %}