<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Borrower</title>
</head>
<body>
    <div class="main-container">
        <div class="login-container">
            <div class="left-box">
                <div class="featured-image">
                    <img src="{% static 'images/essu_logo.jpg' %}" class="img-fluid">
                </div>
                <div class="borrower-text">Borrower</div>
            </div>
            <div class="right-box">
                <div class="header-text">
                    <h2>Login</h2>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="input-field">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {% if field.help_text %}
                                <small style="color: #888;">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <small class="error">{{ error }}</small>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="login-btn">Login</button>
                </form>
                <div class="nav-link">
                    <a href="{% url 'register' %}" class="nav-link">Create Your Acc  &#8594</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
