<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>Register</title>
</head>
<body>
    <div class="main-container">
        <div class="login-container">
            <!-- Right Box -->
            <div class="right-box">
                <div class="header-text">
                    <h2>Register</h2>
                </div>
                <form method="post">
                    {% csrf_token %}
                    
                    <!-- Display non-field errors at the top of the form -->
                    {% if form.non_field_errors %}
                        <div class="error-message">
                            <span class="error-icon">⚠️</span>
                            {% for error in form.non_field_errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% for field in form %}
                        <div class="input-field">
                            <input type="{{ field.field.widget.input_type }}" id="{{ field.id_for_label }}" name="{{ field.name }}" placeholder=" " value="{{ field.value|default_if_none:'' }}" required>
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            
                            {% for error in field.errors %}
                                <small class="error">{{ error }}</small>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="signup-btn">Register</button>
                    <a href="{% url 'login' %}" class="cancel-btn">Cancel</a>
                </form>
            </div>
            <!-- Left Box -->
            <div class="left-box">
                <div class="featured-image">
                    <img src="{% static 'images/essu_logo.jpg' %}" class="img-fluid">
                </div>
                <div class="borrower-text">Register Now</div>
            </div>
            
        </div>
    </div>
</body>
</html>
