@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');




body {
    font-family: 'Poppins', sans-serif;
    background: white;
}




h2 {
    margin-top: 12vh;
    font-size: 30px;
    font-weight: bold;
    color: #124703;
    margin-bottom: 10px;
}

h4 {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #124703;
    margin-bottom: 10px;
}


.navbar {
    background-color: #f8fff6;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 15px;
    border-bottom: 2px solid green;
    z-index: 100000;
}

.navbar .logo {
    height: 40px;
    width: 40px;
    position: fixed;
    left: 15px;
}

.nav-links {
    display: flex;
    gap: 15px;
    margin-left: 700px;
    position: fixed;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    margin-top: 5px;
}

.nav-links .nav-hover:hover {
    color: #edfbe9;
    background-color: #124703;
}

.nav-links .nav-active {
    color: #e1ede0;
    background-color: #175813;
}

.heading {
    font-size: 22px;
    font-weight: bold;
    margin-left: 60px;
    margin-top: 15px;
}


.border {
    margin-top: 70px;
    height: 2px;
    background-color: none;
}


/* CSS for data table*/

.container {
    margin-top: 30px;
}

.form-container{
    margin-top: 30px;
}


.form-borrower label{
    font-size: 20px;
    font-weight: 500;
}




#items-table {
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#items-table thead {
    background-color: #108a51;
    color: white;
}

#items-table th {
    padding: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}

#items-table td {
    padding: 10px;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}

#items-table tbody tr:nth-child(odd) {
    background-color: #f7f7f7;
}

#items-table tbody tr:hover {
    background-color: #f4fff5;
}

.dataTables_filter {
    margin-top: 0px;
    margin-bottom: 10px;
}

.dataTables_filter input {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.btn {
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.btn-sm {
    font-size: 13px;
    padding: 5px 10px;
}

.btn-success {
    background-color: #28a745;
    color: white;
    border: none;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
}

.btn-danger:hover {
    background-color: #c82333;
}
















/*  CCS for Inventory */


.section-title {
    font-size: 28px;
    font-weight: bold;
    color: #124703;
    margin-bottom: 20px;
}


.btn-primary {
    background-color: #124703;
    border-color: #124703;
    font-size: 16px;
    padding: 8px 15px;
}

.btn-primary:hover {
    background-color: #106b2f;
    border-color: #106b2f;
}


#inventoryTable {
    width: 100%;
    margin-top: 30px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#inventoryTable thead {
    background-color: #108a51;
    color: white;
}

#inventoryTable th, #inventoryTable td {
    text-align: left;
    padding: 12px 15px;
}

#inventoryTable td {
    font-size: 14px;
}


#inventoryTable tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

#inventoryTable tbody tr:hover {
    background-color: #f4fff5;
}

.add-item-btn {
    background-color: #108a51;
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    color: white;

}

  
  /* Modal close button */
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #ffffff;
  }


/* Modal Content Styling */
.modal-content {
    margin-top: 100px; /* Centers the modal vertically */
    border-radius: 8px; /* Adds rounded corners */
    overflow: hidden; /* Prevents overflow on rounded corners */
    width: 600px;
}

/* Modal Header Styling */
.modal-header {
    background-color: #124703;
    color: white;
    padding: 15px; /* Adds padding for a more balanced look */
    border-bottom: 2px solid #106b2f;
}

.modal-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0; /* Removes default margin */
}

/* Close Button Styling */
.btn-close {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.btn-close:hover {
    color: #ccc; /* Changes color on hover for better UX */
}


.modal-body {
    padding: 20px;
}




/*CSS for home */

.upper-container {
    margin: 0px 0px;
    background-color: #f4f5f7;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    gap: 23px;
}
.lower-container{
    margin: 10px 0px;
    background-color: #f4f5f7;
    padding: 20px;
    border-radius: 10px;
}

.box-container {
    margin: 10px 0px;
    background-color: ddd;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.text-header {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 5px;
    color: #555;
}


.text-number {
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 1.5em;
    color: black;
    font-weight: bold;
    
}




/*CSS for home Modal*/

/* Button Styling within Modal */
.borrow-btn {
    background-color: #28a745;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin: 10px 10px;
    color: white;

}

button.add-btn {
    padding: 10px 20px;
    background-color: #28a745;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #218838;
}

/* Input Field Styling */

.form-borrower {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-borrower button.add-btn {
    align-self: flex-end;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.form-borrower button.add-btn:hover {
    background-color: #0056b3;
}
.form-borrower select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ced4da;
}

input[name="borrower_middle_name"],
input[name="borrower_last_name"],
input[name="borrower_first_name"],
input[name="item_quantity"] {
    width: 100%;
    padding: 10px; /* Adds padding for better usability */
    margin-top: 8px; /* Space between input fields */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Prevents padding from affecting width */
    border: 2px solid gray;
}

.button-row {
    display: flex;
    gap: 10px; /* Space between buttons */
    justify-content: center; /* Center the buttons horizontally */
    margin-top: 10px; /* Space above the button row */
}

/* Individual Button Styling */
button.scan-btn,
button.submit-btn {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

/* Different colors for each button */
button.scan-btn {
    background-color: #007bff;
}

button.scan-btn:hover {
    background-color: #0056b3;
}

button.submit-btn {
    background-color: #28a745;
}

button.submit-btn:hover {
    background-color: #218838;
}